.inputContainer {
  margin-top: auto;
  display: flex;
  width: 100%;
}

.input {
  width: 90%;
  height: 40px;
  outline: none;
  padding: 5px;
}

.btnSend {
  width: 10%;
  cursor: pointer;
  outline: none;
}
